asgiref==3.11.0
cffi==2.0.0
channels==4.3.2
channels_redis==4.3.0
Django==6.0.1
generic==1.1.6
gevent==25.9.1
greenlet==3.3.1
gunicorn==25.1.0
msgpack==1.1.2
numpy==2.4.1
opencv-python==4.13.0.90
packaging==26.0
pycparser==3.0
redis==7.1.0
sqlparse==0.5.5
tzdata==2025.3
websocket==0.2.1
whitenoise==6.11.0
zope.event==6.1
zope.interface==8.2
