.image-cap {
    height: 180px;
    width: 100%;
    background-color: #868e96;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.image-cap img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
